<%- include('./layouts/headerAdmin') %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }

  input[type="text"],
  textarea,
  select {
    width: 550px; /* Adjusted the comment to match the width */
  }

  /* Add any specific footer styles you need */
  .footer {
    margin-top: auto;
  }
</style>
<div class="flex-container bg-gray-100">
  <div class="content py-28 ">
    <div class="container flex  align-middle items-center flex-col">
      <h3 class="mb-4">Edit Brand</h3>

      <form action="/admin/brands/edit/<%= brands._id %>" method="POST">
        <div class="mb-3">
          <label for="brandName" class="form-label">Brand Name</label>
          <input
            type="text"
            class="form-control"
            id="brandName"
            name="brandName"
            value="<%= brands.brandName %>"
            required
          />
        </div>
        <div class="space-x-4">
          <button class="btn btn-primary" type="submit">Update Brand</button>
          <button class="btn btn-primary">
            <a href="/admin/brands" class="text-white">Back to Brand</a>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <%- include('./layouts/Footler') %>
  </div>
</div>