<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch</title>
    <link href="/src/output.css" rel="stylesheet">
  </head>
  <body>
   <div class="header"> 
      <a href="/" class="logo">Watchvn</a>
      <div class="header-left">
        <a href="/">Home</a>
      </div>
      <div class="header-right">
        <a href="/login">Login</a>
      </div>
    </div>
  </body>
</html>

